<!DOCTYPE HTML>
<html>
<head>
<title>Livio's Wine Store</title>
<link rel="stylesheet" href="css/styles.css" />
<link rel="stylesheet" href="css/bootstrap.css" />
</head>

<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Livio's Wine Store</a>
  </div>
</div>

<div id="sidebar"></div>

<div id="content">
<h2>Welcome to Livio's Wine Store</h2>
<p class="lead">Here you can find the best selection of wines.
</p>

</div>

<!-- Templates -->
<script type="text/template" id="tpl-wine-list-item">
	<a href='#wines/<%= id %>'><%= name %></a>
</script>

<script type="text/template" id="tpl-wine-details">
    <div class="form-left-col">
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
        <label>Grapes:</label>
        <input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>
        <label>Country:</label>
        <input type="text" id="country" name="country" value="<%= country %>"/>
        <label>Region:</label>
        <input type="text" id="region" name="region"  value="<%= region %>"/>
        <label>Year:</label>
        <input type="text" id="year" name="year"  value="<%= year %>"/>
        <label>Price:</label>
        <input type="text" id="price" name="price"  value="<%= price %>"/>
        <img height="400" src="pics/<%= picture %>"/>
        <br>
        <label>Notes:</label>
        <textarea id="description" name="description"><%= description %></textarea>
    </div>
</script>

<!-- JavaScript -->
<script src="lib/jquery-1.7.1.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="js/main.js"></script>   

</body>
</html>